name: Trigger CI/CD Deployment

on:
  push:
    branches:
      - main
      - dev
      - 'feat/**'
      - 'fix/**'

jobs:
  notify-cicd-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Debug GitHub Repository Info
        run: |
          echo "Repository Name: ${{ github.repository }}"
          echo "Repository Full Name: ${{ github.event.repository.full_name }}"
          echo "Repository Owner: ${{ github.event.repository.owner.login }}"
          echo "Branch Name: ${{ github.ref_name }}"
          echo "Current Working Directory: $(pwd)"
          echo "Listing Contents:"
          ls -la

      - name: Send Deployment Trigger
        run: |
          curl -X POST \
          -H "Authorization: token ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
          -H "Accept: application/vnd.github.everest-preview+json" \
          --data '{"event_type": "deploy", "client_payload": {
            "repository": "${{ github.repository }}",
            "repository_name": "${{ github.event.repository.name }}",
            "branch": "${{ github.ref_name }}"
          }}' \
          https://api.github.com/repos/awc-create/awc-multi-site-cicd/dispatches

